/* Título 211x 211*/
.subrayado{ /* Rayita Negra*/
	width: 90px;
	height:4px;
	background: #000;
	box-shadow: 2px 2px 5px #999;
}

.contenedor{
	height: 500px;
	width: 700px;
	position:static;
	margin-top: 20px;
	padding-left: 14px;
	padding-top: 14px;
}

.contenedor>div {
	width: 211px;
	height: 211px;
	display: inline-block; 	
	position: relative;
	margin:7px;
}

.contenedor div p:before {
	content: "Nombre y Apellido"; 
	font-size: 13px;
	color: #fff;
	position: absolute;
	right: 0;
	bottom: 0;	
}

img{-webkit-filter:brightness(0.8);}

img:hover{-webkit-filter:brightness(1);}




